@model MvcKutuphane.Models.Entity.Tbl_Kategoriler
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1" style="height: 30px; font-size: 18px">Yeni Kategori Ekle</button>
    </div>
</form>

